/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100; /* Use the Tailwind @apply directive to set the color */
}

.ql-toolbar {
  @apply bg-white border border-blue-200 rounded-t-lg;
}

.ql-container {
  @apply bg-white border-l border-r border-b rounded-b-lg;
}

/* Continue to override styles for buttons, dropdowns, active states, etc. */
.ql-toolbar .ql-formats button {
  @apply bg-white hover:bg-blue-100 active:bg-blue-200;
}

/* Specific styles for customizing the toolbar buttons appearance */
.ql-toolbar button {
  @apply px-2 py-1 m-1 transition duration-200 ease-in-out;
}

.ql-toolbar button:hover {
  @apply bg-gray-100;
}



.ProseMirror:focus {
  outline: 2px solid #1068e4; 
}

.ProseMirror {
  @apply w-1/2 border-b-2  focus:outline-none bg-white 
}

.tiptap {
 

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}
