.tiptap {
    > * + * {
      margin-top: 0.75em;
     
    } 

    ul,li
    ol {
      /* make bulletpoint showup */
      list-style-type: disc; 
      padding-left: 25px; 
    }

    /* affect the words inside each editor allow p to move to the right, child of ProseMirror */
 
    p{
   
      @apply text-lg
    }
  }
 /* affect the inner border of the text editor, parent of p */
  .ProseMirror {  
    @apply   pl-3 pt-4   
  }

  .ProseMirror:focus {
    outline: none ; /* Removes the default focus outline */
     border:solid rgb(110 231 183) ;
   border-radius:16px;
   @apply p-3
  }

  input[type="checkbox"] {
    margin-right: 8px;
  }
 